<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/carusel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/tablas.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico"/>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="body">
            <body>
                <nav>
                    <div class="topnav" id="myTopnav">
                        <div class=logo>
                            <a><img src="img/logo.png"alt="logo pagina"></a>
                        </div>
                            <a href="/" class="active">Inicio</a>
                            <a href="./login.html">Login</a>
                            <a href="./registro.html">Registro</a>
                            <a href="./adopcion.html">Galeria</a>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                            </a>
                        <div class="NombreUser">
                                <div class="deslogeo">
                                </div>
                                <div class="usuario">     
                                </div>
                        </div>
                    </div>               
                </nav> 
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ field }}
    <button class="btn btn-success" type="submit">Filtrar</button>
    </form>
    {% for perro in perros %}
    <div class="box">
        <div class="containerPerros">
                    <div>
                    <img src="{{ perro.Fotografia.url }}">
                    </div>
                    <div class="Nombre">
                    <h1><a href="{% url 'detalle_perro' pk=perro.pk %}">{{ perro.NombrePerro }}</a></h1>
                    </div>
                    <div class="Raza">
                    Raza: {{ perro.RazaPredominante }}
                    </div>
                    <div class="Descripcion">
                    Descripcion: {{ perro.Descripcion }}
                    </div>
                    <div class="Estado">
                        Estado: {% if perro.Estado == "R" %}
                            Rescatado
                        {% endif %}
                        {% if perro.Estado == "A" %}
                            Adoptado
                        {% endif %}
                        {% if perro.Estado == "D" %}
                            Disponible
                        {% endif %}
                    </div>     
        </div>
    </div>            

</body>
</html>